* {
  margin: 0;
  outline: none;
  padding: 0;
}

body {
	/* background: url('../images/background.png'); */
	font-family: "Gill Sans", "Lucida Grande", "Verdana", sans-serif;
}

a {
	border-bottom: 1px dotted;
	color: #368BB7;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
	/*color: #483738;*/
	color: rgb(40,42,48);
}

h1 {
	padding-bottom: 0.5em;
	text-align: center;
}

h2, h3, h4 {
	padding: 0.5em 0;
}

ul {
  margin-left: 1em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

p.estimation_intermediaire {
  margin-top: 0.5em;
}

span.estimation {
  float: right;
  font-weight: bold;
}

table td, table th {
  padding: 0.3em 0.5em;
}

#content {
	/*background: url('../images/synbioz.png') no-repeat top right;*/
	background-color: white;
	/*border-bottom: 0.1em solid #ccc;*/
	margin: 1em auto;
	padding: 1em 2em;
	width: 40em;
	/*border-radius: 1em;*/
	/*-moz-border-radius: 1em;
	-webkit-border-radius: 1em;*/
}