@page {
  margin: 1cm;
  @bottom {
    color: #1d1d20;
    content: "Synbioz, 5 rue de douai 75009 Paris | page " counter(page) " sur " counter(pages);
    font-family: "Lucida Grande", "Verdana", "Helvetica", "Nimbus Sans L", sans-serif;
    font-size: 8pt;
  }
}

body {
  background: none;
}

#content {
  background-image-resolution: 100dpi;
}

#content pre {
  width: 16cm !important;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid grey;
}

table td {
  padding: 0 10px 0 20px;
}
