@page {
  margin: 1cm;

  @bottom {
    color: grey;
    content: "Synbioz, 336-338 avenue de Dunkerque 59130 Lambersart  page " counter(page) " sur " counter(pages);
    font-family: "Avenir", "Verdana", "Helvetica", "Nimbus Sans L", sans-serif;
    font-size: 8pt;
    border-top: 1pt solid #ccc;
  }
}

@page:first {
  @bottom:  {
    border-top: none;
  }
}


body * {
  font-family: "Avenir", "Verdana", "Helvetica", "Nimbus Sans L", sans-serif;
  line-height: 1.4;
}

body, html {
  background: none;
  font-size: 10pt;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  padding: 1em 0 0.25em;
  margin: 0;
}

h1 { font-size: 16pt; }
h2 { font-size: 14pt; }
h3 { font-size: 12pt; }
h4 { font-size: 10pt; }
h5 { font-size: 9pt; }
h6 { font-size: 8pt; }

h2.page-title {
  height: 24cm;
  line-height: 24cm;
  text-align: center;
}


#content {
  background-image-resolution: 100dpi;
}

#content pre {
  width: 16cm !important;
}

a {
  color: #4ca5d1;
}

p {
  margin: 0 0 0.5em;
}

li {
  line-height: 1.6
}

table {
  border-collapse: collapse;
}

table td,
table th {
  text-align: left;
  border: 1px solid grey;
  padding: 0.2em 0.6em;
}

table th {
  font-weight: 500
}

div.page-break-before {
  page-break-before: always;
}

div.page-break-after {
  page-break-after: always;
}

header#cover {
  background: url('../images/logo_synbioz.png') no-repeat center center;
  height: 24cm;
  line-height: 24cm;
  border: none;
}

h2.page-title {
  height: 24cm;
  line-height: 24cm;
  text-align: center;
}
