@page {
  margin: 1cm;

  @bottom {
    color: #1d1d20;
    content: "Synbioz, 336-338 avenue de Dunkerque 59130 Lambersart  page " counter(page) " sur " counter(pages);
    font-family: "Lucida Grande", "Verdana", "Helvetica", "Nimbus Sans L", sans-serif;
    font-size: 8pt;
    border-top: 0.1em solid #ccc;
  }
}

@page:first {
  @bottom:  {
    border-top: none;
  }
}

body {
  background: none;
}

#content {
  background-image-resolution: 100dpi;
}

#content pre {
  width: 16cm !important;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid grey;
  padding: 0 10px 0 20px;
}

div.page-break-before {
  page-break-before: always;
}

div.page-break-after {
  page-break-after: always;
}

h1.synbioz {
  background: url('../images/logo_synbioz.png') no-repeat center center;
  height: 24cm;
  line-height: 24cm;
  border: none;
}

h2.page-title {
  height: 24cm;
  line-height: 24cm;
  text-align: center;
}
